---
import { cn } from 'astro-pure/utils'

interface Props {
  view?: boolean
  comment?: boolean
  class?: string
}

const { view, comment, class: className, ...props } = Astro.props

const path = Astro.url.pathname
---

<div class={cn('text-base text-sm text-muted-foreground', className)} {...props}>
  {view && (
    <>
      <span class='waline-pageview-count' data-path={path}></span> views
    </>
  )}
  {comment && (
    <>
      {view && ' | '}
      <a href='#waline'>
        <span class='waline-comment-count' data-path={path} /> comments
      </a>
    </>
  )}
</div>
